<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Out of Office</title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🏝</text></svg>">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  {{!-- {{#if logged_in}} --}}
  <header class="main-header">
  
    <h1>
      Out of Office
    </h1>

    <nav>
      <a href="/location">Home</a>
      <a href="/share">+ New Post</a>
      <button class="btn" id="logout">Logout</button>
    </nav>

  </header>
  {{!-- {{/if}} --}}

  <main class="main-body">
    {{{ body }}}
  </main>

  <footer>
  </footer>

  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>
