<!-- Video Background -->
<video autoplay muted loop id="introVideo" src="../assets/landing/tropical-beach-swing.mp4"></video>

<!-- Transparent Logo -->
<header>
    <img src="../assets/landing/out-of-office-logo.png" alt="Out of Office logo in bold lettering" class="landing-logo">
</header>

<!-- Login Button -->
<div id="login-link">
    <p><a href="/login">Sign Up</a> or <a href="/login">Login</a> to Explore</p>
</div>