<div class="logo">
  <img src="" alt="Out of Office logo in bold lettering" class="login-logo">
</div>

<div class="login-row">

  <div class="half-col">
    {{!-- Login Form --}}
    <h2 class="login-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        {{!-- Ask for user email --}}
        <input class="form-input" type="text" id="email-login" placeholder="Email"/>
      </div>
      <div class="form-group">
        {{!-- Ask for user password --}}
        <input class="form-input" type="password" id="password-login" placeholder="Password"/>
      </div>
      <div class="form-group">
        {{!-- Login button --}}
        <button class="btn login-btn" type="submit">Login</button>
      </div>
    </form>
  </div>

  <div class="half-col">
    {{!-- Sign Up Form --}}
    <h2 class="login-title">Sign Up</h2>
    <form class="form signup-form">
      <div class="form-group">
        {{!-- Ask user to add name --}}
        <input class="form-input" type="text" id="name-signup" placeholder="Your Name"/>
      </div>
      <div class="form-group">
        {{!-- Ask user to add email --}}
        <input class="form-input" type="text" id="email-signup" placeholder="Email"/>
      </div>
      <div class="form-group">
        {{!-- Ask user to create password --}}
        <input class="form-input" type="password" id="password-signup" placeholder="Password"/>
      </div>
      <div class="form-group">
        {{!-- Ask user to create username --}}
        <input class="form-input" type="text" id="username-signup" placeholder="Username"/>
      </div>
      <div class="form-group">
        {{!-- Ask user for their location --}}
        <input class="form-input" type="text" id="location-signup" placeholder="Your Location"/>
      </div>
      <div class="form-group">
        {{!-- Ask user to add bio --}}
        <input class="form-input" type="text" id="bio-signup" placeholder="Bio"/>
      </div>
      <div class="form-group">
        {{!-- Sign up button --}}
        <button class="btn signup-btn" type="submit">Sign Up</button>
      </div>
    </form>
  </div>

</div>
<script src="./js/login.js"></script>
