{{!-- <div class="post-by-id">
    <h2 class="location">{{city}}, {{country}}</h2>
    <p class="location-desc">{{description}}</p>

    <p>{{location_users.trip.budget}}</p>
</div> --}}


<div class="user-trip">
    {{!-- Location City, Country --}}
    {{!-- Posted by: username --}}
    {{!-- trip photo --}}
    {{!-- Trip description --}}
    {{!-- everything from trip model --}}
</div>