
<div class="location-trip-post">
  <img src="(result.info.url)" class="user-photo" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text trip-description">{{trip.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item trip-userName">{{user.username}}</li>
    <li class="list-group-item trip-budget">{{trip.budget}}</li>
  </ul>
  <div class="card-body">
    <a href="/post" class="card-link">Read More</a>
  </div>
</div>