p {
    font-family: Helvetica, sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
}
.btn {
    border-radius: 0;
    border: 0;
    padding: .5em 1em;
    background-color: rgb(239, 239, 239);
    font-family: Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 14px;
}

/* MAIN HEADER */
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ooo-header-logo {
    margin: 0;
}

/* LANDING PAGE */
.logo {
    width: 100vw;
    position: fixed;
    top: -5vw;
    padding: 0;
    margin: 0;
    left: 0;
}

#introVideo {
    position: fixed;
    z-index: -1;
    left: 0;
    top: -20%;
    min-height: 150vh;
    width: auto;
  }

#login-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
    letter-spacing: .08em;
    text-transform: uppercase;
    font-size: 1.4vw;
}

/* LOGIN + SIGNUP PAGE */
.login-row {
    display: flex;
    justify-content: space-around;
}
.half-col {
    border: 1px solid blue;
    box-sizing: border-box;
    width: 45vw;
    padding: 0 2em;
    text-align: center;
}
.login-title {
    text-align: center;
}
.login-form, .signup-form {
    display: flex;
    flex-direction: column;
}
.form-group {
    margin-top: 2em;
}
input {
    text-align: center;
    color: gray;
    font-family: Helvetica;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.form-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
}
.login-btn, .signup-btn {
    border-radius: 0;
    border: 0;
    padding: .5em 1em;
}
