/* GLOBAL STYLES */
:root {
    --neutral-bg: ##f4f0ec;
    --lightgreen: #E7E5DF;
    --greenish: #dad8cd;
    --brown: #453c35;
}

@font-face {
    font-family: 'Mono';
    src: url("../assets/fonts/Compagnon-Italic.woff") format("woff");
    src: url("../assets/fonts/Compagnon-Italic.woff2") format("woff2");
}
@font-face {
    font-family: 'Cursive';
    src: url('../assets/fonts/haigrast-webfont.woff2') format('woff2'),
         url('../assets/fonts/haigrast-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    
}
body {
    background-color: #f1f1ef;
    
}
p {
    font-family: Helvetica, sans-serif;
    font-weight: 300;
}
a {
    text-decoration: none;
}
h6 {
     font-size: 11px;
     letter-spacing: .1em;
     text-transform: uppercase;
}
.btn, .navguy {
    border-radius: 0;
    border: 0;
    padding: .5em 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    cursor: pointer;
}

/* MAIN */
@keyframes rotate-hue {
    0% {filter: hue-rotate(10deg);}
    50% {filter: hue-rotate(-30deg);}
    100% {filter: hue-rotate(20deg);}
}

.main-header {
    display: flex;
    /* flex-direction: column;
    align-items: center; */
    border-bottom: 1px solid var(--brown);
    align-items: center;
    justify-content: space-between;
    
    
}
.ooo-header-logo {
    margin: 0;
    font-family: 'Mono';
    font-size: 22px;
    margin: .5em;
}
.main-body {
    border-top: 1px solid var(--brown);
}

footer {
    border-top: 1px solid var(--brown);
    text-align: center;
}

/* MARQUEE */
.scroll {
    min-height:initial !important;
    overflow-x: hidden !important;
    overflow-y:hidden;
}
@keyframes moveLeft {
    from { transform: translateX(0%) }
    to { transform: translateX(-100%) }
}

.marquee {
    position: relative;
    display: flex;
    animation: moveLeft 35s linear infinite;
}

.track {
    font-size: 12px !important;
    white-space: nowrap;
    min-width: 100%;
    text-align: center;
    line-height:1.2em;
    color:var(--brown);
    text-transform: uppercase;
}


/* LANDING PAGE */
.landing-logo {
    width: 100vw;
    position: fixed;
    top: -5vw;
    padding: 0;
    margin: 0;
    left: 0;
}

#introVideo {
    position: fixed;
    z-index: -1;
    left: 0;
    top: -20%;
    min-height: 150vh;
    width: auto;
  }

#login-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
    letter-spacing: .08em;
    text-transform: uppercase;
    font-size: 1.4vw;
}

/* LOCATION PAGE */
.location-intro {
    display: flex;
    border-bottom: 1px solid var(--brown);
    min-height:initial !important;
    overflow-x: hidden !important;
    overflow-y:hidden;
}
@keyframes turn {
    from { transform: rotate(0deg)}
    to { transform: rotate(360deg)}
  }
.compass-logo {
    width: 125px;
    margin-bottom:20px;
    margin-left: 20px;
    animation: turn 10s linear infinite;
}
.intro-text {
    font-family: 'Cursive';
    font-size: 5vw;
    line-height: 1.2;
    color: var(--brown);
    word-spacing: -.2em;
    margin-bottom: .5em;
}
.intro-cta {
    margin-top: 4em;
}
.loc-left {
    width: 50%;
    
    padding: 10em;
    text-align: center;
    align-self: center;
}
.loc-right {
    width: 50%;
    border-left: 1px solid var(--brown);
}


.all-locations {
    padding:0 2vw;
}
.location-header {
    border-bottom: 1px solid var(--brown);
    margin: 2vw 0;
}
.location-card {
    border: 1px solid var(--brown);
    margin-bottom: 2em;
    display: flex;
}
.flex-image {
    /* border:1px solid purple; */
    flex: 0 1 auto;
    border-right: 1px solid var(--brown);
}
.loc-image {
    width: 500px;
    height: auto;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
}
.flex-info {
    /* border: 1px solid aqua; */
    flex: 1;
    padding: 2em;
    transition: .5s ease;
    align-self: center;
}
.flex-info:hover {
    background-color: #37342f9a;
}
.location-name {
    font-size: 2vw;
    line-height: 1.2;
    margin-bottom: .5em;
    font-family: 'Mono';
}
.little-loc-info {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

/* LOGIN + SIGNUP PAGE */
.login-row {
    display: flex;
    justify-content: space-around;
    margin-top: 4vw;
}
.half-col {
    border: 1px solid var(--brown);
    box-sizing: border-box;
    width: 45vw;
    padding: 2em;
    text-align: center;
}
.graphic {
    width: 125px;
    margin-bottom:20px;
}

.login-title {
    text-align: center;
}
.login-form, .signup-form {
    display: flex;
    flex-direction: column;
}
.form-group {
    margin-top: 2em;
}
input {
    text-align: center;
    color: gray;
    background-color: transparent;
    font-family: Helvetica;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.form-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
    width: 20vw;
}
.login-btn, .signup-btn {
    border-radius: 0;
    border: none;
    background-color: var(--brown);
    color: white;
    padding: 1em 2em;
    cursor: pointer;
    transition: .5s ease;
}

.login-btn:hover, .signup-btn:hover {
    background-color: var(--greenish);
}

/* SHARE FORM PAGE */
.trip-form {
    border: 1px solid var(--brown);
    padding: 2em;
    margin: 1vw 4vw;
    text-align: left;
}